img {
	vertical-align: sub;
}

a {
	color: #F4E29D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.mumblewidget {
	font-size: 0.7em;
	font-family: verdana, sans-serif;
	color: white;
	background: #3D2E27;
	position: relative;
}